// DAILY CSS IMAGES 35 - R2-D2
// Original illustration by Konrad Kirpluk
// http://www.behance.net/kirpluk

.r2d2
	.head
		.eye
		ul.stripes
			li
			li
			li
			li
			li
	.body
		.white
		.blue
	.legs
	.back
.original
	| Original illustration by 
	a(href='http://www.behance.net/kirpluk' target='_blank') Konrad Kirpluk
//a(href='' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this