// DAILY CSS IMAGES 46 - MARS

.orbit
	.mars
		.craters
		.eye-left
		.eye-right
		.mouth
	.moon-orbit
		.moon-1
		.moon-2
.stars
	.top
	.left
	.right
	.bottom




//a(href='' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this