// DAILY CSS IMAGES 45 - MOON
.moon
	.craters
	.eye-left
	.eye-right
.stars
	.top
	.left
	.right
	.bottom

a(href='https://youtu.be/-v0TM3f0t-M' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this