/* COLORS */
/* MIXINS */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background: #FFE2EF;
}

.pokeball {
  position: absolute;
  top: 23%;
  left: calc((100% - 19px)/2);
  height: 5px;
  width: 5px;
  background: #333;
  box-shadow: 5px 0 #333, 10px 0px #333, 15px 0 #333, -10px 5px #333, -5px 5px #333, 0px 5px #FF3D32, 5px 5px #FF3D32, 10px 5px #FF3D32, 15px 5px #FF3D32, 20px 5px #333, 25px 5px #333, -15px 10px #333, -10px 10px #FF3D32, -5px 10px #FF3D32, 0px 10px #FF3D32, 5px 10px #FF3D32, 10px 10px #FF3D32, 15px 10px #FF3D32, 20px 10px #FF3D32, 25px 10px #FF3D32, 30px 10px #333, -15px 15px #333, -10px 15px #FF3D32, -5px 15px #FF3D32, 0px 15px #FF3D32, 5px 15px #FF3D32, 10px 15px #FF3D32, 15px 15px #FF3D32, 20px 15px #FF3D32, 25px 15px #FF3D32, 30px 15px #333, -20px 20px #333, -15px 20px #FF3D32, -10px 20px #FF3D32, -5px 20px #FF3D32, 0px 20px #FF3D32, 5px 20px #FF3D32, 10px 20px #FF3D32, 15px 20px #FF3D32, 20px 20px #FF3D32, 25px 20px #FF3D32, 30px 20px #FF3D32, 35px 20px #333, -20px 25px #333, -15px 25px #FF3D32, -10px 25px #FF3D32, -5px 25px #FF3D32, 0px 25px #FF3D32, 5px 25px #333, 10px 25px #333, 15px 25px #FF3D32, 20px 25px #FF3D32, 25px 25px #FF3D32, 30px 25px #FF3D32, 35px 25px #333, -20px 30px #333, -15px 30px #333, -10px 30px #FF3D32, -5px 30px #FF3D32, 0px 30px #333, 5px 30px #fff, 10px 30px #fff, 15px 30px #333, 20px 30px #FF3D32, 25px 30px #FF3D32, 30px 30px #333, 35px 30px #333, -20px 35px #333, -15px 35px #fff, -10px 35px #333, -5px 35px #333, 0px 35px #333, 5px 35px #fff, 10px 35px #fff, 15px 35px #333, 20px 35px #333, 25px 35px #333, 30px 35px #fff, 35px 35px #333, -15px 40px #333, -10px 40px #fff, -5px 40px #fff, 0px 40px #fff, 5px 40px #333, 10px 40px #333, 15px 40px #fff, 20px 40px #fff, 25px 40px #fff, 30px 40px #333, -15px 45px #333, -10px 45px #fff, -5px 45px #fff, 0px 45px #fff, 5px 45px #fff, 10px 45px #fff, 15px 45px #fff, 20px 45px #fff, 25px 45px #fff, 30px 45px #333, -10px 50px #333, -5px 50px #333, 0px 50px #fff, 5px 50px #fff, 10px 50px #fff, 15px 50px #fff, 20px 50px #333, 25px 50px #333, 0px 55px #333, 5px 55px #333, 10px 55px #333, 15px 55px #333;
}
