// DAILY CSS IMAGES 28 - SQUIRELL

.squirrel
	.acorn
		.top
		.bottom
	.body
	.tail
	.arm
	.head
		.eye
		.ear
		
a(href='https://www.youtube.com/watch?v=v2-xVG4a5K4&t=2s' target='_blank'): .watchme

		span
			i.fa.fa-youtube-play
		p watch me code this