/* COLOR VARIABLES */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background: #596B64;
}

.canvas {
  position: relative;
  top: 10%;
  margin: auto;
  height: 300px;
  width: 350px;
  background: #596B64;
}

/* HEAD */
.head {
  position: relative;
  top: 18%;
  margin: auto;
  height: 50%;
  width: 60%;
  background: #F29752;
  border-radius: 40% 40% 60% 60%;
  z-index: 1;
}

.head-copy {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #F29752;
  border-radius: 40% 40% 60% 60%;
}

/* EARS */
.ears .left, .ears .right {
  position: absolute;
  top: -5%;
  z-index: 1;
  height: 45%;
  width: 25%;
  background: #323031;
  border-radius: 0 100% 0 0;
  transform: rotate(-10deg);
}

.ears .left {
  left: 0;
}
.ears .right {
  right: 0;
  transform: scaleX(-1) rotate(-10deg);
}
.ears .inner {
  position: absolute;
  height: 100%;
  width: 25%;
  background: #B16E3C;
  border-radius: 0 100% 0 0;
}

/* STRIPES */
.stripes .top, .stripes .top::before, .stripes .top::after {
  position: absolute;
  display: flex;
  height: 0;
  width: 0;
  border-top: 35px solid #323031;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  z-index: 3;
}

.stripes .left, .stripes .left::before, .stripes .left::after, .stripes .right, .stripes .right::before, .stripes .right::after {
  position: absolute;
  display: flex;
  height: 0;
  width: 0;
  border-top: 20px solid #323031;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  z-index: 3;
}

.stripes .top::before, .stripes .top::after, .stripes .left::before, .stripes .left::after, .stripes .right::before, .stripes .right::after {
  position: relative;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
}

.stripes .top {
  left: 45%;
  border-top: 20px solid #323031;
}
.stripes .top::before {
  left: -50px;
  top: -20px;
  transform: rotate(-3deg);
}
.stripes .top::after {
  left: 10px;
  top: -20px;
  transform: rotate(3deg);
}
.stripes .left {
  top: 45%;
  left: 1.5%;
  border-top: 20px solid #323031;
  transform: rotate(-90deg);
}
.stripes .left::before {
  left: -26px;
  top: -15px;
  transform: rotate(-30deg);
}
.stripes .left::after {
  left: -2px;
  top: -20px;
  transform: rotate(1deg);
}
.stripes .right {
  top: 45%;
  right: 1%;
  border-top: 20px solid #323031;
  transform: rotate(90deg);
}
.stripes .right::before {
  left: -26px;
  top: -20px;
  transform: rotate(1deg);
}
.stripes .right::after {
  left: -2px;
  top: -15px;
  transform: rotate(30deg);
}

/* FACE */
.face {
  position: absolute;
  top: 18%;
  left: 25.5%;
  height: 60%;
  width: 50%;
  z-index: 2;
  /* EYES */
  /* MOUTH */
}
.face .eyes .left, .face .eyes .right {
  position: absolute;
  top: 25%;
  height: 20%;
  width: 20%;
  background: #323031;
  border-radius: 50%;
  z-index: 2;
}
.face .eyes .left {
  left: 18%;
}
.face .eyes .right {
  right: 18%;
}
.face .eyes .inner {
  position: absolute;
  top: 10%;
  left: 10%;
  background: #fff;
  height: 30%;
  width: 30%;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  background: #FDE4CF;
  bottom: -8%;
  height: 60%;
  width: 100%;
  border-radius: 45%;
}

/* NOSE */
.nose {
  position: absolute;
  top: 0;
  z-index: 2;
  left: 21%;
  height: 0;
  width: 0;
  border-radius: 30%;
  border-top: 20px solid #323031;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}

.line {
  position: absolute;
  left: 47.5%;
  top: 0;
  height: 70%;
  width: 5%;
  background: #323031;
  z-index: 3;
}

.smile {
  position: absolute;
  bottom: 20%;
  left: 15%;
  height: 50%;
  width: 70%;
  border-bottom: 5px solid #323031;
  border-left: 5px solid #FDE4CF;
  border-right: 5px solid #FDE4CF;
  z-index: 1;
  border-radius: 45%;
}

/* WHISKERS */
.whiskers .left, .whiskers .left::before, .whiskers .left::after, .whiskers .right, .whiskers .right::before, .whiskers .right::after {
  position: absolute;
  display: flex;
  border-top: 50px solid #B16E3C;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 40% 40% 10% 10%;
  height: 0;
  width: 0;
  transform: rotate(90deg);
  z-index: 3;
}

.whiskers .left::before, .whiskers .left::after, .whiskers .right::before, .whiskers .right::after {
  position: relative;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
}
.whiskers .left {
  top: 43%;
  left: -5%;
}
.whiskers .left::before {
  top: -50px;
  right: 15px;
  transform: rotate(10deg);
}
.whiskers .left::after {
  top: -50px;
  right: -4px;
  transform: rotate(-10deg);
}
.whiskers .right {
  top: 43%;
  right: -5%;
  transform: rotate(-90deg);
}
.whiskers .right::before {
  top: -50px;
  right: 15px;
  transform: rotate(10deg);
}
.whiskers .right::after {
  top: -50px;
  right: -4px;
  transform: rotate(-10deg);
}
