/* COLORS */
/* MIXINS */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background: #B2BF9E;
}

.canvas {
  position: relative;
  top: 15%;
  margin: auto;
  height: 300px;
  width: 300px;
}

/* BODY */
.body {
  position: absolute;
  top: 20%;
  right: 10%;
  height: 20%;
  width: 45%;
  background: #89543D;
}
.body::before {
  position: absolute;
  display: block;
  content: "";
  height: 20px;
  width: 100%;
  top: -20px;
  background-image: radial-gradient(circle at 100% 100%, #89543D 70%, transparent 70%);
  background-size: 20px 20px;
  background-repeat: repeat-x;
}
.body::after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 20px;
  right: -20px;
  background-image: radial-gradient(circle at 0% 100%, #89543D 70%, transparent 70%);
  background-size: 20px 20px;
  background-repeat: repeat-y;
}

/* HEAD */
.head {
  position: absolute;
  bottom: -15%;
  left: -35%;
  height: 100%;
  width: 60%;
  background: #F3D29C;
  -webkit-clip-path: polygon(60% 0, 15% 85%, 100% 85%);
  border-radius: 0 0 0 70%;
}
.head::before {
  position: absolute;
  display: block;
  content: "";
  top: -27px;
  left: -42px;
  height: 80px;
  width: 90px;
  background: #B2BF9E;
  border-radius: 0 0 70% 0;
}

/* FACE */
.face {
  position: absolute;
  top: 60%;
  height: 8px;
  width: 8px;
  background: #3F3F3F;
  border-radius: 50%;
}
.face::before {
  position: absolute;
  display: block;
  content: "";
  top: -15px;
  right: -30px;
  height: 15px;
  width: 12px;
  background: #F3D29C;
  border-radius: 20% 50% 50% 20%;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.face::after {
  position: absolute;
  display: block;
  content: "";
  top: 10px;
  left: -35px;
  height: 9px;
  width: 9px;
  background: #3F3F3F;
  border-radius: 50%;
}

/* FEET */
.feet {
  position: absolute;
  bottom: -20%;
  left: 25%;
  height: 20%;
  width: 70%;
  background-image: radial-gradient(circle at 50% 10%, #F3D29C 30%, transparent 30%);
  background-size: 25px 25px;
}
.feet::before {
  position: absolute;
  display: block;
  content: "";
  top: -15px;
  left: -30px;
  height: 5px;
  width: 10px;
  background: #E0B8B8;
  border-radius: 50%;
}
