// DAILY CSS IMAGES 37 - YODA
// Original illustration by Konrad Kirpluk
// http://www.behance.net/kirpluk

.yoda
	.left
	.right
	.wrinkles
		.top
		.middle
		.bottom
	.head
	.body
		.cape
.original
	| Original illustration by 
	a(href='http://www.behance.net/kirpluk' target='_blank') Konrad Kirpluk
a(href='https://youtu.be/dZiNQJDzIgM' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this