// DAILY CSS IMAGES 31 - NOKIA 3310

.nokia
	.body
	.side
	.speaker
		.speaker-holes
	.logo
		p NOKIA
	.top
	.screen
		.score
			p 1073
			p 23
		.frame
		.snake
	.buttons
		.home
		.call
		.select
			.arrow
		
		.keys.n123
		.keys.n456
		.keys.n789
		.keys.n0
		
a(href='https://www.youtube.com/watch?v=xtfSAtgw5ko&t=16s' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this