// DAILY CSS IMAGES 30 - FOX

.fox
	.head
		.eyes
			.left
			.right
		.sides
			.left
			.right
	.ears
	.body
		.chest
	.legs
		.left
		.right
	.tail
		.tips
	.trunk
	.roots
	
a(href='https://www.youtube.com/watch?v=D_NO1W_wi8E'): .watchme

		span
			i.fa.fa-youtube-play
		p watch me code this