// DAILY CSS IMAGES 34 - GAMEBOY COLOR

.gameboy
	.screen
		.power
	.buttons
		.kryss
			.horizontal
			.vertical
		.a-b
		.start-select
		.speaker



a(href='https://youtu.be/hTtzuPcU3-w' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this