// DAILY CSS IMAGES 29 - Owl

.owl
	.l1
	.l2
	.l3
	.wings
		.left
		.right
	.head
		.ears
		.eyes
			.left
			.right
		.beak
	.body
		.stomach-top
		.stomach-bottom
		.scarf
		.feet
			.left
			.right
a(href='https://www.youtube.com/watch?v=2KKXrjjmYco' target='_blank'): .watchme

		span
			i.fa.fa-youtube-play
		p watch me code this