div.canvas
	div.pencils
		div.pencil.p1
			div.top
				div.eraser
				div.metal
					div.line
					div.line
			div.pencil-shape
			div.pencil-shape
			div.pencil-shape
			div.wood
		div.pencil.p2
			div.top
				div.eraser
				div.metal
					div.line
					div.line
			div.pencil-shape
			div.pencil-shape
			div.pencil-shape
			div.wood
		div.pencil.p3
			div.top
				div.eraser
				div.metal
					div.line
					div.line
			div.pencil-shape
			div.pencil-shape
			div.pencil-shape
			div.wood
		div.pencil.p4
			div.top
				div.eraser
				div.metal
					div.line
					div.line
			div.pencil-shape
			div.pencil-shape
			div.pencil-shape
			div.wood
		div.pencil.p5
			div.top
				div.eraser
				div.metal
					div.line
					div.line
			div.pencil-shape
			div.pencil-shape
			div.pencil-shape
			div.wood
	div.lego
		div.head
			div.eyes
				div.left
				div.right
			div.mouth