// DAILY CSS IMAGES 38 - Grievous
// Original illustration by Konrad Kirpluk
// http://www.behance.net/kirpluk

.grievous
	.body
		.stomach-left
		.stomach-right
	.lightsaber-green-l
	.lightsaber-blue-l
	.lightsaber-blue-s
	.lightsaber-green-s
	.head
		.eye-left
		.eye-right
		.mouth
			.stripes

.original
	| Original illustration by 
	a(href='http://www.behance.net/kirpluk' target='_blank') Konrad Kirpluk
	
//a(href='' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this