// DAILY CSS IMAGES 27 - HEDGEHOG

.canvas
	.body
		.cheeks
		.ears
			.left
			.right
		.face
			.eyes
				.left
					.inner-eye
				.right
					.inner-eye
	.pigger
	.hands
	.feet
	
a(href='https://www.youtube.com/watch?v=1VALGBr6gzw&t=1s' target='_blank'): .watchme

		span
			i.fa.fa-youtube-play
		p watch me code this