// DAILY CSS IMAGES 47 - SATURN

.saturn
	.eye-left
	.eye-right
	.mouth
.ring
.stars
	.top
	.left
	.right
	.bottom







//a(href='' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this