// DAILY CSS IMAGES 36 - C-3PO
// Original illustration by Konrad Kirpluk
// http://www.behance.net/kirpluk

.canvas
	.head-copy
	.head
		.nose-eyes
	.neck
	.body
		.arms
		.belt
.original
	| Original illustration by 
	a(href='http://www.behance.net/kirpluk' target='_blank') Konrad Kirpluk
	
	//a(href='' target='blank'): .watchme
		span
			i.fa.fa-youtube-play
		p watch me code this