div.canvas
	div.mini-pizza.p1
		div.crust
		div.cheese
			div.mozzarella
			div.mozzarella
			div.mozzarella
			div.mozzarella
			div.mozzarella
			div.mozzarella
			div.mozzarella
		div.basil
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
		div.balsamico
			div.drop
			div.drop
			div.drop
			div.drop
			div.drop
			
	div.mini-pizza.p2
		div.crust
		div.cheese
			div.mozzarella
			div.mozzarella
			div.mozzarella
			div.mozzarella
			div.mozzarella
			div.mozzarella
			div.mozzarella
		div.basil
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
			div.leaf
		div.balsamico
			div.drop
			div.drop
			div.drop
			div.drop
			div.drop
			