/* Original illustration by Konrad Kirpluk http://www.behance.net/kirpluk */
/* COLORS */
/* MIXINS */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background: #e6e7ea;
}

.r2d2 {
  position: relative;
  top: 15%;
  margin: auto;
  height: 300px;
  width: 300px;
}
.r2d2::before {
  position: absolute;
  display: block;
  content: "";
  bottom: 19%;
  left: 10%;
  height: 4%;
  width: 80%;
  border-radius: 50%;
  background: #cccccc;
}

.head {
  position: absolute;
  display: block;
  content: "";
  top: 1%;
  left: 25%;
  height: 50%;
  width: 50%;
  background: #9c9992;
  border-radius: 50% 50% 0 0;
  border: 11px solid #333;
  z-index: 1;
}
.head::before {
  position: absolute;
  display: block;
  content: "";
  left: calc((100% - 55px)/2);
  height: 39px;
  width: 55px;
  background: #006ebe;
  border-radius: 50% 50% 5px 5px/20% 20% 5px 5px;
  z-index: 2;
}
.head::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 25%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 25px 5px 0 #b3b3b3;
  z-index: 1;
}

.eye::before, .eye::after {
  position: absolute;
  display: block;
  content: "";
  background: #f2f2f2;
  border-radius: 50%;
}

.eye {
  position: absolute;
  top: 1px;
  left: calc((100% - 28px)/2);
  height: 28px;
  width: 28px;
  background: #333;
  border-radius: 50%;
  z-index: 2;
}
.eye::before {
  height: 12px;
  width: 12px;
  top: 4px;
  left: 5px;
}
.eye::after {
  bottom: 6px;
  right: 5px;
  height: 6px;
  width: 6px;
}

.body {
  position: absolute;
  bottom: 28%;
  left: 25%;
  height: 48%;
  width: 50%;
  background: #cccccc;
  z-index: 5;
  border: 11px solid #333;
  border-radius: 0 0 40px 40px;
}

.white {
  position: absolute;
  height: 100%;
  width: 62%;
  right: 0;
  background: #f2f2f2;
  border-radius: 0 0 32px 20px;
  z-index: 2;
}
.white::before {
  position: absolute;
  display: block;
  content: "";
  bottom: 9%;
  left: 9px;
  height: 45px;
  width: 15px;
  background: #333;
  border-radius: 15px;
}

.blue::before, .blue::after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 9px;
  background: #006ebe;
}

.blue {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 8px;
  width: 50%;
  background: #006ebe;
  z-index: 3;
  border-radius: 9px;
}
.blue::before {
  top: -18px;
}
.blue::after {
  top: 18px;
}

.legs {
  position: absolute;
  bottom: 20%;
  left: calc((100% - 67px)/2);
  height: 50%;
  width: 67px;
  background: linear-gradient(to right, #cccccc 40%, #f2f2f2 40%);
  border-radius: 24px;
  border: 11px solid #333;
  z-index: 2;
}

.back, .back::before {
  border: 11px solid #333;
  border-radius: 40px;
}

.back {
  position: absolute;
  top: 28%;
  left: 18%;
  height: 52%;
  width: 85px;
  background: linear-gradient(to top, #f2f2f2 25%, #333 25%, #333 31%, #d1d2d4 31%);
}
.back::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: -11px;
  right: -118px;
  background: linear-gradient(to top, #f2f2f2 25%, #333 25%, #333 31%, #f2f2f2 31%);
}

.stripes {
  position: absolute;
  bottom: -40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  z-index: 5;
}
.stripes li {
  height: 8px;
  width: 18px;
  background: #006ebe;
  margin: 6px;
  border-radius: 8px;
}
.stripes li:first-child, .stripes li:last-child {
  height: 8px;
  width: 15px;
}
.stripes li:nth-child(4) {
  background: radial-gradient(circle at 50% 50%, #f90000 30%, #006ebe 30%);
}

.original {
  position: absolute;
  bottom: 3%;
  right: 3%;
}

body, a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #333;
}
